@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #023047;
  --secondary-color: #FFB703;
  --white-color: #EBEBEB;
  --not-active-white-color: #C6C4C4;
  --accent-color-one: #FB8500;
  --accent-color-two: #219EBC;
  --accent-color-three: #8ECAE6;
  --font-family: 'Poppins', sans-serif;
  --wrapper-padding: 0 150px;
}


header {
  color: var(--not-active-white-color);
}

header ul li:hover {
  color: var(--white-color);
}

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*   } */
/* } */

